/* GENERAL TO THE PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.12em;
}

.cross-hr {
	opacity: 0.5;
	width: 90%;
	align-items	: center;
}

/* CLASS FOR CONTAINER */
.container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  margin: 15px 0;  
}

.part {
  /* border: 1px solid rgb(128, 0, 6);	 */
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 15px 0;
  /* background-color: #D6E9FE; BACKGROUND TO SEE CONTAINER DISABLE IN PRODUCTION*/
}



/* CLASS FOR MENU */

.item-relative {
  position: relative;
  top: -5px;
  left: 0px;
}

.title {
	font-size: 36px;
	line-height: 26px;
	letter-spacing: 0.125em;
}

.action {
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.action li {
	float: left;
	margin: 0px 20px 0px 0px;
	list-style-type: none; 
	}
	
.action  .it {
	text-decoration: none;
}

.action  a.it:hover, a.it:active {
  font-size: 150%;
}

.menu {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.menu li {
	float: left;
	margin: 0px 0px 0px 0px;
	list-style-type: none; 
}

.menu li.menu-it {
	width: 130px;
}

.menu a {
	text-decoration: none;
	color: inherit;
}

/*
.menu a:hover {
	cursor: pointer;
}
*/

.menu a.it:hover, a.it:active {
  font-size: 150%;
}


/* CLASS FOR BODY */

.item-left{
	width: 60%;
  }

.item-left-specific1{
	width: 60%;
	background-image: url("../image/background.jpg");
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}

.item-left-specific2{
	width: 40%;
	background-image: url("../image/sagradafamilia.jpg");
	background-size: 75% auto;
	background-position: center ;
	background-repeat: no-repeat;
	background-color:#f7f7f7;	
}

.item-left-specific3{
	width: 60%;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}
  
.item-right{
	width: 40%;
}

.item-1-3{
	width: 33%;
}

.item-100{
	width: 100%;

}

.item-right-specific1{
	width: 40%;
	background-color:#f7f7f7;
}

.item-right-specific2{
	width: 60%;
	background-color:#f7f7f7;
}

.banner-image {
	/*
	margin: 0px 0px 0px 0px;
	width: 65%;
	background-repeat: no-repeat;
	*/
}

.banner-texte {
	font-family: Lato;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	margin: 0px 10px 10px 10px;
	max-width: 100%;
}

.banner-texte h2 {
	letter-spacing: 0.25em;
	/*text-transform: uppercase; */
	height: 50px;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:5px;
}

.banner-texte p {
	/* letter-spacing: 0.12em; */
	/* text-transform: uppercase; */
}


/*CLASS FOR SPANISH FLAG AND SENTENCE */

.flagspain-image {
	margin: 10px 10px 0px 0px;
	display:inline;
	width: 10%;
	float:left;
}
.meetbarcelona {
/*
	display:inline;
	letter-spacing: 0.25em;
*/
}

blockquote {
    position: relative;
}
blockquote:before {
    font-size: 2em;
    line-height: 1;
    content: "\201C";
}
blockquote:after {
    font-size:2em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}


/* CLASS FOR FOOTER */
.socialnetwork {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}


.list-inline li {
  float: left;
  margin: 0px 10px 0px 0px;
  list-style-type: none; 
}










