body
{
	font-size: 18px;
	
	margin-top:0px;
	
}
@font-face
{
font-family:font1;
src: url('../font/Lato-Bold.ttf'),
     url('../font/Lato-Regular.ttf'); 
}

.title
{
	font-size:36px;
	margin-top:30px;
	margin-left:720px;
	position:absolute;
	font-family:"Lato-Regular";
	line-height: 26px;
	letter-spacing: 0.125em;
	font-weight:normal;
}

.title-right1
{
	font-size:10px;
	color:grey;
	margin-left:1100px;
	margin-top:20px;
	position:absolute;
	text-transform: uppercase;

}

.title-right2
{
	font-size:10px;
	color:grey;
	margin-left:1220px;
	margin-top:20px;
	position:absolute;
	text-transform: uppercase;
}

.container
{
	width:1440px;
	height:800px;
	background-color:white;
	margin-top:0px;
	margin-left:70px;
}

.container-f1
{
	font-size:14px;
	color:black;
	margin-left:200px;
	margin-top:150px;
	position:absolute;
}

.container-f2
{
	font-size:14px;
	color:black;
	margin-left:350px;
	margin-top:150px;
	position:absolute;
}

.container-f3
{
	font-size:14px;
	color:black;
	margin-left:500px;
	margin-top:150px;
	position:absolute;
}

.container-f4
{
	font-size:14px;
	color:black;
	margin-left:650px;
	margin-top:150px;
	position:absolute;
}

.container-f5
{
	font-size:14px;
	color:black;
	margin-left:800px;
	margin-top:150px;
	position:absolute;
}

.container-f6
{
	font-size:14px;
	color:black;
	margin-left:950px;
	margin-top:150px;
	position:absolute;
}

.container-f7
{
	font-size:14px;
	color:black;
	margin-left:1100px;
	margin-top:150px;
	position:absolute;
}


.container-img1
{
	width:1440px;
	height:500px;
	margin-top:300px;
	position:absolute;
}

.container-h1
{
	font-size:50px;
	margin-top:500px;
	margin-left:350px;
	position:absolute;
	color:black;
}

.container2
{
	width:1440px;
	height:300px;
	background-color:white;
	margin-top:100px;
	margin-left:150px;
	
}

.container2-h1
{
	font-size:50px;
	margin-top:10px;
	margin-left:450px;
	position:absolute;
}

.container2-img1
{
	width:150px;
	height:100px;
	margin-top:0px;
	margin-left:300px; 
	position:absolute;
}

.container3
{
	width:1440px;
	height:600px;
	background-color:white;
	margin-top:0px;
	margin-left:150px;
}

.container3-img1
{
	width:600px;
	height:400px;
	margin-top:20px;
	margin-left:20px; 
	position:absolute;
}

.container3-img2
{
	width:140px;
	height:100px;
	margin-top:430px;
	margin-left:20px; 
	position:absolute;
}

.container3-img3
{
	width:140px;
	height:100px;
	margin-top:430px;
	margin-left:170px; 
	position:absolute;
}

.container3-img4
{
	width:140px;
	height:100px;
	margin-top:430px;
	margin-left:320px; 
	position:absolute;
}

.container3-img5
{
	width:150px;
	height:100px;
	margin-top:430px;
	margin-left:470px; 
	position:absolute;
}

.container4
{
	width:300px;
	height:550px;
	background-color:#F0FFF0;
	margin-top:10px;
	margin-left:800px;
	position:absolute;
	
}

.container4-img1
{
	width:100px;
	height:100px;
	margin-top:10px;
	margin-left:100px; 
	position:absolute;
}

.container4-u1
{
	font-size:20px;
	color:grey;
	margin-left:80px;
	margin-top:140px;
	position:absolute;
}

.container4-f1
{
	font-size:18px;
	color:black;
	margin-left:100px;
	margin-top:120px;
	position:absolute;
}

.container4-p1
{
	font-size:15px;
	color:grey;
	margin-left:40px;
	margin-top:180px;
	position:absolute;
	margin-right:10px;
}

.container4-p2
{
	font-size:15px;
	color:grey;
	margin-left:40px;
	margin-top:310px;
	position:absolute;
	margin-right:10px;
}

.container7
{
	width:1440px;
	height:300px;
	background-color:white;
	margin-top:10px;
	margin-left:150px;
}

.container7-p1
{
	margin-left:300px;
	color:grey;
}

.container7-p1
{
	width:750px;
	color:grey;
}


.content-border
{
	width:1300px;
	height:2px;
	background-color:white;
	margin-top:20px;
	margin-left:150px;
}

.content-border-h1
{
	font-size:40px;
	color:black;
	margin-top:80px;
	margin-left:460px;
	position:absolute;
}

.content-border-img1
{
	width:250px;height:250px;margin-top:250px;margin-left:120px; position:absolute;
}
.content-border-img2
{
	width:250px;height:250px;margin-top:250px;margin-left:400px; position:absolute;
}
.content-border-img3
{
	width:250px;height:250px;margin-top:250px;margin-left:680px; position:absolute;
}
.content-border-img4
{
	width:250px;height:250px;margin-top:250px;margin-left:960px; position:absolute;
}

.content-border-p1
{
	font-size:20px;
	color:grey;
	margin-top:520px;
	margin-left:140px;
	position:absolute;
	width:450px;
}
.content-border-p2
{
	font-size:20px;
	color:grey;
	margin-top:520px;
	margin-left:420px;
	position:absolute;
	width:450px;
}
.content-border-p3
{
	font-size:20px;
	color:grey;
	margin-top:520px;
	margin-left:700px;
	position:absolute;
	width:450px;
}
.content-border-p4
{
	font-size:20px;
	color:grey;
	margin-top:520px;
	margin-left:980px;
	position:absolute;
	width:450px;
}

.content-border-img5
{
	width:250px;
	height:250px;
	margin-top:600px;
	margin-left:120px; 
	position:absolute;
}
.content-border-img6
{
	width:250px;
	height:250px;
	margin-top:600px;
	margin-left:400px; 
	position:absolute;
}
.content-border-img7
{
	width:250px;
	height:250px;
	margin-top:600px;
	margin-left:680px; 
	position:absolute;
}
.content-border-img8
{
	width:250px;
	height:250px;
	margin-top:600px;
	margin-left:960px; 
	position:absolute;
}

.content-border-p5
{
	font-size:20px;
	color:grey;
	margin-top:870px;
	margin-left:140px;
	position:absolute;
	width:450px;
}
.content-border-p6
{
	font-size:20px;
	color:grey;
	margin-top:870px;
	margin-left:420px;
	position:absolute;
	width:450px;
}
.content-border-p7
{
	font-size:20px;
	color:grey;
	margin-top:870px;
	margin-left:700px;
	position:absolute;
	width:450px;
}
.content-border-p8
{
	font-size:20px;
	color:grey;
	margin-top:870px;
	margin-left:980px;
	position:absolute;
	width:450px;
}

.content-border-b1
{
	background-color:#D3D3D3;
	width:200px;
	height:45px;
	margin-left:570px;
	margin-top:950px;
	position:absolute;
}



.container5
{
	width:1300px;
	height:2px;
	background-color:black;
	margin-top:1100px;
	margin-left:150px;
}

.container5-p1
{
	font-size:45px;
	color:grey;
	margin-left:40px;
	position:absolute;
}

.container5-p2
{
	font-size:25px;
	color:grey;
	margin-top:60px;
	margin-left:980px;
	position:absolute;
}

.container5-img1
{
	width:160px;
	height:160px;
	margin-top:230px;
	margin-left:180px; 
	position:absolute;
}
.container5-u1
{
	font-size:20px;
	color:grey;
	margin-left:180px;
	margin-top:400px;
	position:absolute;
}
.container5-f1
{
	font-size:18px;
	color:black;
	margin-left:180px;
	margin-top:440px;
	position:absolute;
}

.container5-img2
{
	width:160px;
	height:160px;
	margin-top:230px;
	margin-left:580px; 
	position:absolute;
}
.container5-u2
{
	font-size:20px;
	color:grey;
	margin-left:580px;
	margin-top:400px;
	position:absolute;
}
.container5-f2
{
	font-size:18px;
	color:black;
	margin-left:580px;
	margin-top:440px;
	position:absolute;
}

.container5-img3
{
	width:160px;
	height:160px;
	margin-top:230px;
	margin-left:980px; 
	position:absolute;
}
.container5-u3
{
	font-size:20px;
	color:grey;
	margin-left:980px;
	margin-top:400px;
	position:absolute;
}
.container5-f3
{
	font-size:18px;
	color:black;
	margin-left:980px;
	margin-top:440px;
	position:absolute;
}

.container5-img4
{
	width:300px;
	height:300px;
	margin-top:500px;
	margin-left:140px; 
	position:absolute;
}
.container5-img5
{
	width:300px;
	height:300px;
	margin-top:500px;
	margin-left:540px; 
	position:absolute;
}
.container5-img6
{
	width:300px;
	height:300px;
	margin-top:500px;
	margin-left:940px; 
	position:absolute;
}




.container6
{
	width:1200px;
	height:100px;
	background-color:#F5F5F5;
	margin-top:900px;
	margin-left:47px;
	position:absolute;
	font-style: italic;
}

.container6-p1
{
	font-size:32px;
	color:black;
	margin-left:40px;
	position:absolute;
}

.container6-t1
{
	background-color:#D3D3D3;
	width:300px;
	height:40px;
	margin-left:570px;
	margin-top:30px;
}
.container6-b1
{
	background-color:#D3D3D3;
	width:200px;
	height:45px;
	margin-left:0px;
	margin-top:30px;
	position:absolute;
}

.container6-p2
{
	font-size:15px;
	color:black;
	margin-top:1050px;
	margin-left:120px;
	position:absolute;
	width:450px;
}

.container6-p3
{
	font-size:15px;
	color:black;
	margin-top:1050px;
	margin-left:1020px;
	position:absolute;
	width:450px;
}

.container6-img1
{
	width:25px;
	height:25px;
	margin-top:1050px;
	margin-left:480px; 
	position:absolute;
}
.container6-img2
{
	width:25px;
	height:25px;
	margin-top:1050px;
	margin-left:540px; 
	position:absolute;
}
.container6-img3
{
	width:25px;
	height:25px;
	margin-top:1050px;
	margin-left:600px; 
	position:absolute;
}
.container6-img4
{
	width:25px;
	height:25px;
	margin-top:1050px;
	margin-left:660px; 
	position:absolute;
}

.container8
{
	width:1300px;
	height:100px;
	background-color:white;
	margin-top:1200px;
	margin-left:150px;
}