/* GENERAL TO THE PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}



/* CLASS FOR CONTAINER */
.container {
  display: flex;
  justify-content: center;
}

.example {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 15px 0;
  /* background-color: #D6E9FE; BACKGROUND TO SEE CONTAINER DISABLE IN PRODUCTION*/
}

/* CLASS FOR MENU */

.item-left{
  width: 30%;
}

.item-right{
  width: 70%;
}

.item-relative {
  position: relative;
  top: -5px;
  left: 0px;
}

.title {
	font-size: 24px;
	line-height: 26px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.action {
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.action li {
	float: left;
	margin: 0px 20px 0px 0px;
	list-style-type: none; 
	}

.menu {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.menu li {
	float: left;
	margin: 0px 10px 0px 0px;
	list-style-type: none; 
}

.menu a {
	text-decoration: none;
	color: inherit;
}

/*
.menu a:hover {
	cursor: pointer;
}
*/

.menu a.it:hover, a.it:active {
  font-size: 150%;
}


/* CLASS FOR BODY */
.banner-image {

	margin: 10px 10px 0px 0px;
	width: 95%;

}

.banner-texte {
	font-family: Lato;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	margin: 10px 10px 0px 0px;
	max-width: 100%;
}

.banner-texte h2 {
	letter-spacing: 0.25em;
	text-transform: uppercase;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:5px;
}

.banner-texte p {
	letter-spacing: 0.12em;
	text-transform: uppercase;
}


/*spainish flag & sentence*/

.flagspain-image {
	margin: 10px 10px 0px 0px;
	width: 40%;
}
.meetbarcelona {
	letter-spacing: 0.25em;
	text-transform: uppercase;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:5px;
	margin-left: -200px;
}

/*Picture & cards*/
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
	 display: inline-block;
 vertical-align: middle;
 float: none;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

/*3 pictures*/

.fuertaventura-image {
	width: 200px;
	height: 150px;
}

.india-image {
	width: 200px;
	height: 150px;	
	margin-left: 300px;
}

.tokyo-image {
	width: 200px;
	height: 150px;
	margin-left: 400px;
}

/* CLASS FOR SUBSCRIBE */
.subscribe {
	height: 100px;
	position: relative;
	top: 50%;
	font-size: 24px;
	background-color:#F5F5F5;
	width:80%;
	text-align: center;	
}

.subscribe-center {
  margin: 0;
  position: absolute;
  /*
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  }

/* CLASS FOR FOOTER */
.socialnetwork {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}


.list-inline li {
  float: left;
  margin: 0px 10px 0px 0px;
  list-style-type: none; 
}


/* TRAVEL PAGE */ 

.background {
  /* 1. Set a background image */
  background-image: url(../image/travelbanner.jpg);   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
	padding: 5%;
}
.background h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

/* Selection of criteria */

.cercle {
  height: 150px;
  width: 500px;
  border-radius: 35px;
  background: #ECE2E2;
  margin: 0 auto;
  margin-top: 20px;
}
.table {
	position: relative;
	border-collapse: collapse
}

.td {
	border: 1px solid black;
	padding: 10px;
	padding-right: 10px;
}

/* fin destination */ 







