
/*spainish flag & sentence*/

.flagspain-image {
	margin: 10px 10px 0px 0px;
	width: 40%;
}
.meetbarcelona {
	letter-spacing: 0.25em;
	text-transform: uppercase;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:10px;
	margin-bottom:5px;
	margin-left: -200px;
}

/*Picture & cards*/
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
	 display: inline-block;
 vertical-align: middle;
 float: none;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

/*3 pictures*/

.fuertaventura-image {
	width: 200px;
	height: 150px;
}

.india-image {
	width: 200px;
	height: 150px;	
	margin-left: 300px;
}

.tokyo-image {
	width: 200px;
	height: 150px;
	margin-left: 400px;
}
